.logo .logo-text {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 16px;
}
.mb-40 {
  margin-bottom: 40px;
}
.pt-40 {
  padding-top: 40px;
}
.mt-20 {
  margin-top: 20px;
}

.report-card {
  color: #3d5869;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0px 30px;
  margin-bottom: 10%;
  font-size: 12px;
}
.report-type {
  padding: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  cursor: pointer;
}

.report-type.active-report {
  border: 2px solid #00C08D !important;
}

.report-type:hover {
  border: 1px solid #bababa;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.detail-btn{
  border-radius: 50px;
  border: 1px solid #00C08D;
  padding: 2px 10px;
  background: #fff;
  cursor: pointer;
}

.detail-btn:hover{
  border: 1px solid #BF9724;
}

.detail-content-type {
  width: 350px;
  padding: 10px 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  cursor: pointer;
}
.detail-content-type.active-report {
  border: 1px solid #00C08D !important;
}
.detail-content-type:hover {
  border: 1px solid #bababb;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}

.example-margin {
  margin-left: 20px;
}

.footer-view {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #e3e3e3;
  width: 100%;
  height: 65px;
  // box-shadow: inset 0 25px 10px #c1c1c1;
}

.report-submit-btn {
  margin-right: 20px;
  background: #00C08D;
  font-size: 14px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.report-cancel-btn {
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.emailLabel {
  margin-top: 5px !important;
}
