<div class="dark-overlay" *ngIf="showComponentLoader">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="page-container wrapper" *ngIf="!showComponentLoader">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx" style="margin-bottom: 1rem;">
        <div class="ng-tns-c93-256" fxlayout="row" fxlayoutalign="start center">
            <div class="logo" fxlayout="row" fxlayoutalign="start center">
                <span class="logo-text h1 ng-trigger ng-trigger-animate"> COLOR </span>
            </div>
        </div>
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
            <div class="search-wrapper" fxLayout="row" fxLayoutAlign="start start">
            </div>
            <div class="user-action-btn">
                <button mat-button class="click-btn" (click)="create()">
                    <mat-icon>add_circle</mat-icon>
                    create color
                </button>
            </div>
        </div>
    </div>
    <h1 style="color:#BF9724;text-align:center;padding-top: 50px;font-size: -webkit-xxx-large;"
        *ngIf="colors.length == 0">No Color Found</h1>
    <mat-card *ngFor="let type of colors; let i = index" style="margin-top: 1rem;">
        <mat-card-content>
            <div class="lead-type" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                <div class="user-status">
                    <p class="title">Name</p>
                    <span class="status-check">{{type.name}}</span>
                </div>
                <div class="user-status">
                    <p class="title">Color Code</p>
                    <span class="status-check">{{type.color_code}}</span>
                </div>
                <div class="user-status">
                    <p class="title">Color Looks</p>
                    <span class="status-check">
                        <div [ngStyle]="backGroundColor(type)"></div>
                    </span>
                </div>
                <div class="user-status">
                    <p class="title">Quality</p>
                    <span class="status-check">{{type.quality}}</span>
                </div>
                <div class="user-status">
                    <p class="title">Created At</p>
                    <span class="status-check">{{type.created_at | date : 'dd/MM/yyyy hh:mm a'}}</span>
                </div>
                <div class="type-action" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="5px">
                    <mat-icon (click)="edit(type)">edit</mat-icon>
                    <mat-icon (click)="delete(type)">delete</mat-icon>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>