<div class="modal-content">
	<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
		<h3>APPOINTMENT</h3>
		<span>
			<i class="material-icons close-modal" (click)="close()">
				clear
			</i></span>
	</div>
	<mat-dialog-content class="main-content">
		<div class="form-group">
			<label>Appointment Date: <span style="color: #00C08D">*</span></label>
			<input class="form-input" placeholder="Date Time:" [(ngModel)]="dateTime"
				(ngModelChange)="checkAppointment()" [min]="min" [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
			<owl-date-time #dt [hour12Timer]="true"></owl-date-time>
		</div>

		<div class="form-group">
			<label>Remark <span style="color: #00C08D">*</span></label>
			<textarea class="form-input" placeholder="Enter Remark" [(ngModel)]="newVendorRemark"></textarea>
		</div>
	</mat-dialog-content>
</div>
<div mat-dialog-actions class="modal-action" fxLayoutAlign="end start" *ngIf="userInfo.member_type == 'Vendor'">
	<button mat-button class="btn btn-light" (click)="close()">NO</button>

	<button mat-button class="btn btn-primary" (click)="yes()"
		[disabled]="dateTime == null || newVendorRemark == '' && vendorRemark == ''"
		*ngIf="remarkMandetory && !btnStatus">YES</button>

	<button mat-button class="btn btn-primary" (click)="yes()" [disabled]="dateTime == null"
		*ngIf="!remarkMandetory && !btnStatus">YES</button>

	<button mat-button class="btn btn-primary" disabled *ngIf="btnStatus">YES</button>
</div>