.modal-content {
  background: #f2f2f2;
  height: 100vh;
}
.mat-elevation-z8 {
  box-shadow: none !important;
}
.tr.mat-row {
  height: 40px !important;
}

.primary {
  background-color: #00C08D;
  color: #fff;
}
.btn-primary:disabled {
  background: #74CDB7 !important;
  cursor: not-allowed !important;
}
.dashboard-wrapper .dashboard-form {
  min-width: 130px;
}

.dashboard-wrapper .filter-form {
  transition: 0.5s;
}

.mat-card-title {
  font-size: 14px !important;
  color: #444 !important;
  font-weight: 600 !important;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.dashboard-wrapper .mat-card-title {
  margin-bottom: 0 !important;
}

.no-text-found {
  text-align: center;
  padding-top: 26%;
  font-size: 12px;
  font-weight: bold;
  color: #666666;
  fill: #666666;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica,
    sans-serif;
}
.mat-column-id,
.mat-column-position,
.mat-column-name {
  //   word-wrap: break-word !important;
  //   white-space: unset !important;
  //   flex: 0 0 25% !important;
  width: 1% !important;
  //   overflow-wrap: break-word;
  //   word-wrap: break-word;

  //   word-break: break-word;

  //   -ms-hyphens: auto;
  //   -moz-hyphens: auto;
  //   -webkit-hyphens: auto;
  //   hyphens: auto;
}

/********************** users-list *******************/
.users-list .user-info {
  border-right: 1px solid #cccccc;
  min-height: 50px;
  margin-right: 25px !important;
  padding-right: 15px;
}

.user-info .user-label {
  margin-left: 5px;
  display: inline-block;
  padding: 0.2em 1em;
  font-size: 75%;
  text-align: center;
  border-radius: 10em;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #00C08D;
  line-height: normal;
  white-space: nowrap;
}

/********* New CSS  *********/
.users-list .user-info,
.users-list .contact,
.users-list .user-status,
.users-list .assign-project,
.users-list .create-date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  flex: 1 1 12%;
}

.users-list .admin-status,
.users-list .system-admin,
.users-list .status {
  flex: 1 1 12%;
  font-size: 0.75rem;
}

.title {
  font-size: 0.7rem;
  color: gray;
  margin-top: 0;
}

.user-info .user-title {
  color: #00C08D;
  font-weight: 500;
  font-size: 14px;
  margin-top: 0;
  text-transform: capitalize;
}

.users-list .user-status .mat-icon {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  min-height: 16px !important;
  line-height: 16px !important;
  margin-right: 8px;
}

#mat-dailog-lead {
  margin-top: 0px !important;
  max-height: 80vh !important;
}
