<div class="modal-content">
	<div fxLayout="row" fxLayoutAlign="space-between center">
		<h3>
			CREATE TASK
		</h3>
		<i class="material-icons close-modal" (click)="close()">
			clear
		</i>
	</div>
	<!-- <span style="font-size: 12px;color: #b7b7b7;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> -->
	<mat-dialog-content>
		<form [formGroup]="createTaskForm">
			<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" style="margin-bottom: 10px;">
				<div class="form-group" style="width: 100%;">
					<label for="">Category <span style="color:#00C08D">*</span></label>
					<mat-select class="form-input" placeholder="Select Category" formControlName="task_category">
						<mat-option value="Follow Up">Follow Up</mat-option>
						<mat-option value="Appointment">Appointment</mat-option>
						<mat-option value="Call">Call</mat-option>
						<mat-option value="Email">Email</mat-option>
					</mat-select>
				</div>
				<div class="form-group" style="width: 100%;">
					<label for="">Priority <span style="color:#00C08D">*</span></label>
					<mat-select class="form-input" placeholder="Select Priority" formControlName="priority">
						<mat-option value="1">High</mat-option>
						<mat-option value="2">Medium</mat-option>
						<mat-option value="3">Low</mat-option>
					</mat-select>
				</div>
			</div>
			<div class="form-group">
				<label for="">Subject <span style="color:#00C08D">*</span></label>
				<input type="text" class="form-input" name="subject" id="subject" placeholder="Subject"
					formControlName="subject">
			</div>
			<div class="form-group">
				<label for="">Description </label>
				<textarea class="form-input" rows="3" placeholder="Description"
					formControlName="description"></textarea>
			</div>
			<div class="form-group">
				<label for="">Due Date</label>
				<input class="form-input" placeholder="Due Date Time:" formControlName="due_date" [min]="min"
					[owlDateTimeTrigger]="dt" [owlDateTime]="dt">
				<owl-date-time #dt [hour12Timer]="true"></owl-date-time>
			</div>
			<div class="form-group">
				<div style="display: flex;padding: 3px;">
					<mat-slide-toggle [checked]="autoReminderNotification" (change)="checkAutoReminder()">
					</mat-slide-toggle>
					<label style="margin-left: 20px;margin-top: -3px;">Auto Reminder</label>
					<mat-icon style="font-size: 16px;margin-top: -3px;"
						matTooltip="Will remind you before 15 min of due date">info</mat-icon>
				</div>
				<input class="form-input" placeholder="Custom Date Time:" *ngIf="!autoReminderNotification"
					formControlName="custom_remainder" [max]="max" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
				<owl-date-time #dt1 [hour12Timer]="true"></owl-date-time>
			</div>
		</form>
	</mat-dialog-content>
</div>
<div class="user-action-btn"
	style="bottom: 0px;position: fixed;width: 96%;padding: 10px;border-top: 2px solid #eaeaea;background: #eaeaea;">
	<button mat-button class="click-btn" *ngIf="!saveStatus" (click)="addTask()"
		[disabled]="createTaskForm.invalid">SAVE</button>
	<button mat-button class="click-btn" *ngIf="saveStatus" disabled>SAVING...</button>
	<button mat-button class="close-btn" (click)="close()">CANCEL</button>
</div>