<div class="modal-content">
	<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
		<h3>CREATE PERMISSION</h3>
		<span>
			<i class="material-icons close-modal" (click)="close()">
				clear
			</i></span>
	</div>
	<!-- <span style="font-size: 12px;color: #b7b7b7;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> -->
	<mat-dialog-content class="main-content">
		<form>
			<form [formGroup]="permissionForm">
				<div class="form-group">
					<label style="font-weight: 500">Name <span style="color: #00C08D">*</span></label>
					<input type="text" class="form-input" name="name" id="name" placeholder="eg:- Export"
						formControlName="name" required>
				</div>
			</form>
		</form>
	</mat-dialog-content>
</div>
<div mat-dialog-actions class="modal-action" fxLayoutAlign="end start">
	<button mat-button class="btn btn-light" (click)="close()">Cancel</button>
	<button mat-button class="btn btn-primary" (click)="save()" [disabled]="!permissionForm.valid"
		*ngIf="!btnStatus">Save</button>
	<button mat-button class="btn btn-primary" disabled *ngIf="btnStatus">Saving...</button>
</div>