<i class="material-icons close-modal" style="float: right;cursor: pointer;" (click)="close()">
	clear
</i>

<h2 *ngIf="selectedLeads.length != 0"> Are you sure you want to delete {{selectedLeads.length > 1 ? 'these': 'this'}}
	Lead{{selectedLeads.length > 1 ?
	's': ''}}? </h2>

<h2 *ngIf="selectedLeads.length == 0"> Are you sure you want to delete "{{dataSource.name}}" Lead </h2>

<mat-dialog-actions>
	<button class="mat-raised-button" (click)="close()">No</button>
	<button class="mat-raised-button btn-primary" *ngIf="!btnStatus" (click)="yes()">Yes</button>
	<button class="mat-raised-button btn-primary" *ngIf="btnStatus" disabled>Yes</button>
</mat-dialog-actions>