<div class="modal-content">
	<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
		<h3>CREATE REGISTRATION</h3>
		<span>
			<mat-icon (click)="close()">clear</mat-icon>
		</span>
	</div>
	<mat-dialog-content class="main-content">
		<form [formGroup]="registrationForm">
			<div class="form-group">
				<label style="font-weight: 500">Name </label>
				<input type="text" class="form-input" name="name" id="name" placeholder="Name" formControlName="name">
			</div>
			<div class="form-group">
				<label style="font-weight: 500">Email</label>
				<input type="text" class="form-input" name="email" id="email" placeholder="Email"
					formControlName="email" autocomplete="off">
				<div class="mat-form-field-subscript-wrapper"
					*ngIf="registrationForm.controls['email'].hasError('pattern')">
					<div class="ng-tns-c21-18" style="opacity: 1; transform: translateY(0%);color: #f44336">
						Not a valid pattern
					</div>
				</div>
			</div>
			<div class="form-group">
				<label style="font-weight: 500">Phone <span style="color: #00C08D">*</span></label>
				<input type="number" formControlName="phone" minlength="10" maxlength="10"
					(keypress)="restrictNumeric($event)" class="form-input" name="phone" id="phone" placeholder="Phone"
					required>
				<div class="mat-form-field-subscript-wrapper"
					*ngIf="registrationForm.controls['phone'].hasError('pattern')">
					<div class="ng-tns-c21-18" style="opacity: 1; transform: translateY(0%);color: #f44336">
						Please enter no. with 10 digit
					</div>
				</div>
			</div>
			<div class="form-group" *ngIf="data == null">
				<label style="font-weight: 500">Project <span style="color: #00C08D">*</span></label>
				<mat-select placeholder="Select Project" class="form-input" formControlName="projectId" required
					(focusout)="onFocusOutEvent($event)">
					<input (keyup)="onKeyProject($event.target.value)" formControlName="searchProject"
						class="form-input" placeholder="Search">
					<mat-option [value]="project.id" *ngFor="let project of filteredProjects">{{project.name}}
					</mat-option>
					<div class="not-found-data" *ngIf="filteredProjects.length == 0">
						No Result Found
					</div>
				</mat-select>
			</div>
		</form>
	</mat-dialog-content>


</div>
<div mat-dialog-actions class="modal-action" fxLayoutAlign="end start">
	<button mat-button class="btn btn-light" (click)="close()">Cancel</button>
	<button mat-button class="btn btn-primary" (click)="addRegistration()" [disabled]="!registrationForm.valid"
		*ngIf="!btnStatus">Save</button>
	<button mat-button class="btn btn-primary" disabled *ngIf="btnStatus">Saving...</button>
</div>