<div class="login-page" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <mat-card class="login-card" *ngIf="!showLoginKey">
        <div class="page-title">
            <img src="../../../assets/images/logo.png" width="250px"> 
            <h2>Sign In</h2>
        </div>
        <mat-card-content>
            <form [formGroup]="userForm">
                <div class="mb-2">
                    <label>Email Address</label>
                    <div class="input-group" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
                        <input type="email" placeholder="Enter Your Email" formControlName="email" required="">
                        <div *ngIf="userForm.controls['email'].hasError('pattern')" class="help is-danger"
                            style="color:red">
                            Not a valid pattern
                        </div>
                    </div>
                    <label>Password</label>
                    <div class="input-group" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
                        <input type="Password" placeholder="Enter Password" formControlName="password" required="">
                    </div>
                </div>
                <div class="mb-2" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
                    <div class="loginlink"><a [routerLink]="['/']">
                            < Back to Home</a>
                    </div>
                    <div class="loginlink"><a [routerLink]="['/auth/forgetpassword']">Forget
                            Password</a></div>
                </div>
                <button mat-button class="login-btn mb-2" *ngIf="!btnStatus" (click)="login()"
                    [disabled]="!userForm.valid">Login</button>
                <button mat-button class="login-btn mb-2" *ngIf="btnStatus" disabled>Login...</button>
            </form>
            <div class="mb-2" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
                <div>
                    <p class="loginlink"> <a href="javascript:void(0)" (click)="toggleLogin()">Login with Key</a></p>
                </div>
                <div fxLayout="row" fxLayoutGap="20px">
                    <p class="loginlink"> New User ?<a href="javascript:void(0)" (click)="signUp()"
                        >Join Now</a></p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="login-card" *ngIf="showLoginKey">
        <div class="page-title">
            <h2>Sign In With Key</h2>
        </div>
        <mat-card-content>
            <form [formGroup]="userKeyForm">

                
                <div class="mb-2">
                    <label>Token</label>
                    <div class="input-group" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">text_snippet</mat-icon>
                        <input type="text" placeholder="Enter Token" formControlName="token" required="">
                    </div>
                </div>
                <div class="mb-2" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
                    <div class="loginlink"><a [routerLink]="['/']">
                            < Back to Home</a>
                    </div>
                    <div class="loginlink"><a [routerLink]="['/auth/forgetpassword']">Forget
                            Password</a></div>
                </div>
                <button mat-button class="login-btn mb-2" *ngIf="!btnStatus" (click)="loginKey()"
                    [disabled]="!userKeyForm.valid">Login</button>
                <button mat-button class="login-btn mb-2" *ngIf="btnStatus" disabled>Login...</button>
            </form>
            <div class="mb-2" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
                <div>
                    <p class="loginlink"> <a href="javascript:void(0)" (click)="toggleLogin()" tabindex="0"
                          >Login</a></p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>