.mat-standard-chip {
  min-height: 26px !important;
}

.mat-chip {
  font-size: 12px !important;
}

.mat-dialog-content {
  max-height: 77vh !important;
  // overflow: inherit !important;
}

.permission-info.mat-icon {
  font-size: 15px !important;
  width: 15px !important;
  height: 15px !important;
  min-width: 15px !important;
  min-height: 15px !important;
  line-height: 15px !important;
  color: #5f6368;
  margin-right: 5px;
}

tr.lhtr {
  line-height: 35px;
}

.permission-view {
  margin-top: 30px;
}

.form-group {
  padding: 15px 15px 9px;
  background-color: #e3e3e3;
}
.primary {
  background-color: #00C08D;
  color: #fff;
}

.limit-title {
  margin-right: 20px;
  font-weight: 500;
}

.limit-hours {
  font-size: 13px;
  font-weight: 500;
  margin-left: 4px;
}

.ml-50 {
  margin-left: 50px;
  cursor: pointer;
}
.ml-10 {
  margin-left: 10px;
}
.form-input:disabled {
  background-color: #e3e3e3;
}
