.main-content.mat-dialog-content.profile {
    margin-top: 0px !important;
}

.btn-primary:disabled {
    background: #74CDB7 !important;
    cursor: not-allowed !important;
}

.project-input-icon {
    position: absolute;
    right: 2%;
    bottom: 6px;
    color: #00C08D;
    cursor: pointer;
}

.project-attach-file-icon {
    position: absolute;
    right: 2%;
    bottom: 8px;
    color: #00C08D;
    cursor: pointer;
    transform: rotate(50deg);
}

.assign-container {
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.assign-project {
    padding: 10px;
    margin-bottom: 5px;
    background: #e6e6e6;
    border-radius: 2px;
}

.assign-project-name {
    font-size: 12px;
    font-weight: 500;
}

.cancel-assign-project {
    float: right;
}

.assign-project-container::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    border: 4px solid transparent;
    background-clip: content-box; // this is important
}

/* Handle */
.assign-project-container::-webkit-scrollbar-thumb {
    background: rgb(255, 25, 255);
    border: 1px solid rgb(0, 0, 0);
}

.assign-project-container {
    max-height: 250px !important;
    overflow-y: auto;
}

.rotate-icon {
    transform: rotate(90deg) !important;
}

.logo .logo-text {
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 16px;
}

.search {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 10px;
}

.search-wrapper,
.click-btn:not(:last-child) {
    margin-right: 10px;
}

#search {
    width: 300px;
    height: 40px;
    background: #fff;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    padding-right: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 40px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.search mat-icon {
    position: absolute;
    // top: 50%;
    margin-left: 17px;
    margin-top: 10px;
    z-index: 1;
    color: #979b9e;
    font-size: 24px;

}

input#search::-webkit-input-placeholder {
    color: #65737e;
}

input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

input#search:-ms-input-placeholder {
    color: #65737e;
}

input#search:hover,
input#search:focus,
input#search:active {
    outline: none;
    background: #ffffff;
}

.user-action-btn .click-btn {
    background: #00C08D;
    color: #fff;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 12px;
    height: 30px;
    line-height: 30px;

}

.search-wrapper {
    border-radius: 24px;
    width: 350px;
    overflow: hidden;
    background: #fff;
}

.search1 {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0 18px;
}

mat-icon {
    color: rgba(0, 0, 0, .38);
}

.search1 input {
    height: 36px;
    min-height: 36px;
    max-height: 36px;
    padding: 0 16px;
    border: none;
    outline: 0;
    background: #fff;
    color: rgba(0, 0, 0, .87);
}

/********************** user-list *******************/
.users-list .user-info {
    border-right: 1px solid #cccccc;
    padding: 0px 10px;

}

.lead-list {
    font-size: .75rem;
}

.user-info .user-name,
.lead-info .user-name {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 5px;
}

.lead-info .lead-emph {
    margin-bottom: 1rem;
}

.lead-info .lead-source,
.lead-info .lead-emph,
.project-info,
.lead-status-info,
.client-remark {
    font-size: 0.8125rem;
}

.project-info .title,
.lead-status-info .title,
.client-remark .title {
    font-weight: 500;
    text-transform: uppercase;
}

.user-name .user-label {
    background: #00C08D;
    font-size: 10px;
    position: relative;
    // top: -5px;
    color: #fff;
    padding: 3px 15px;
    border-radius: 10rem;
    outline: none;
}

.lead-status-col,
.client-remark-col,
.vendor-remark-col {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 15px;
    max-height: 7rem;
    height: 7rem;
    word-break: break-all;
    overflow: auto;
}


.status {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 12px;
    color: grey;
}

.status-group .select-status {
    padding: 0px 5px;
    background: #00C08D;
    color: #fff;
    border-radius: 20px;
    outline: none;
}

.lead-status .lstatus:first-child {
    padding-right: 5rem;
}

.lstatus {
    margin: 0 0 8px;
    font-size: 12px;
    text-transform: capitalize;
}

small {
    color: #717171;
    font-style: italic;
}

.lead-score h4 {
    margin: 0;
}

.lead-status-col .tags {
    margin-top: 0.825rem;
}

.tags .tag {
    align-items: center;
    border-radius: 20px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .7rem;
    height: 1.5em;
    justify-content: center;
    line-height: 1;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    border: 1px solid #ccc;
}


.select-status .mat-select {
    width: 75% !important;
    border: 1px solid #00C08D !important;
    border-radius: 20px !important;
    padding: 1px 10px !important;
    color: #fff !important;
}

.lead-status-col .mat-select-placeholder {
    color: #fff !important;
}

.mat-select-panel .mat-option {
    height: 2em !important;
}

// .mat-option.mat-active {
//     background: #00C08D !important;
// }

// .mat-option:hover {
//     background: #fff !important;
// }

.lead-action .mat-icon {
    font-size: 18px;
    border-left: 1px solid lightgray;
    padding-left: 10px;
    color: #989797;
}

.export-lead {
    background: white;
    width: 33px;
    height: 33px;
    text-align: -webkit-center;
    border-radius: 20px;
    padding: 2px;
    cursor: pointer;
    margin-right: 15px;
}

.approved {
    color: #00C08D !important;
}

.title {
    font-size: 0.7rem;
    color: gray;
    margin-top: 0;
}

.left-content .header {
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.left-content .view-detail {
    display: flex;
    align-items: center;
    color: #00C08D;
    font-size: 0.825rem;
}

.view-detail .play {
    font-size: 20px;
    height: 20px;
    color: #00C08D;
    width: 20px;
}

.dashboard-form {
    min-width: 160px;
}

.dashboard-form .form-input {
    border-radius: 20px;
    padding: 8px 10px;
    font-weight: 400;
    background: #fff;
    height: 30px;
    border: 1px solid #ebebeb;
}

.tim-para {
    margin: 0;
    color: rgba(0, 0, 0, 0.67);
    font-size: .825rem;
}

.right-content {
    padding: 24px 0 0 0;
    // border-left: 1px solid #ddd;
}

.about-profile,
.profile-detail {
    padding: 16px;
}

.fil-icon {
    background: #fff;
    padding: 5px 8px;
    border-radius: 20px;
    line-height: 0px;
}

.right-content .logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 21px;
    line-height: normal;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #BF9724;
  }

.prop {
    text-transform: uppercase;
    color: #00C08D;
    font-size: 0.875rem;
    font-weight: 500;
}

.profile-detail .title {
    margin-bottom: .605em;
    font-weight: 400;
    font-size: 0.825rem;
    color: #444444;
}

.profile-detail .p-info {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px !important;
}

.profile-detail .tags .tag {
    background: #00C08D;
    color: #fff;
    font-size: 11px;
    padding: 3px 10px;
    border-radius: 20px;
}

.apply-refresh {
    position: relative;
}

.button {
    display: inline-block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding-right: 45px;
    padding-left: 15px;
    position: relative;
    background-color: #00C08D;
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3px;
    border-radius: 20px;
    font-weight: 500;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    cursor: pointer;
}

.apply-refresh span {
    position: absolute;
    right: 0;
    width: 35px;
    background-color: #c0751a;
    line-height: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px 20px 20px 0;
}

.apply-refresh span mat-icon {
    font-size: 19px !important;
    width: 19px !important;
    height: 19px !important;
    min-width: 19px !important;
    min-height: 19px !important;
    line-height: 15px !important;
    vertical-align: middle;
    color: #fff;
    margin-left: 6px;
}

.edit-icon .mat-icon {
    font-size: 19px !important;
    width: 19px !important;
    height: 19px !important;
    min-width: 19px !important;
    min-height: 19px !important;
    line-height: 19px !important;
}

.task-content .alarm-icon {
    color: #00C08D;
}

.task-content .alarm-icon .mat-icon {
    font-size: 16px !important;
    width: 16px !important;
    height: 16px !important;
    min-width: 16px !important;
    min-height: 16px !important;
    line-height: 16px !important;
    color: #00C08D;
    margin-right: 5px;
}

.filter-span-icon {
    padding: 10px;
    border-radius: 20px;
    background: #e3e3e3;
}

.isPrimary {
    color: green
}

.timeline-log {
    background: rgba(0, 0, 0, .05);
    padding: 10px;
}

.timeline-log .mat-list-item:hover {
    background: rgba(0, 0, 0, .08);
}

.example-header-image {
    background-size: cover;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    border: 3px solid #102348;
    position: relative;
    overflow: hidden;
    text-align: center;
  }

.example-header-image .profile-image {
    border-radius: 50%;
    width: 100%;
}

.img-content {
    padding: 8px;
    background: rgba(0, 0, 0, .57);
    position: absolute;
    bottom: -100px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.img-content .edit-icon .mat-icon {
    color: #fff;
}

.example-header-image:hover .img-content {
    bottom: 0px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}


.img-loader {
    background: rgba(0, 0, 0, 0.61);
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-loader .mat-progress-spinner {
    left: 38%;
    top: 38%;
}

.bg-active {
    background-color: #00C08D !important;
    color: #fff !important;
}

.profile-detail.timeslot {
    margin-bottom: 5rem !important;
}