<app-header></app-header>
<div class="landing">
  <section class="home-intro-section" id="home">
    <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="50">
        <h1 class="home-intro-title">AutomateLeads</h1>
        <div class="home-intro-desc">
          Give actionable intelligence to your real estate sales team through our smart LMS. Leverage the robust
          automated lead nurturing function and real estate-specific modules to shorten the sales cycle and win more
          closures.
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column">
          <button mat-raised-button mat-lg-button id="frontend-btn" class="demo-btn"
            (click)="ScrollIntoView('#contact-section')"> REQUEST A DEMO <mat-icon>
              play_circle_outline
            </mat-icon></button>
        </div>
      </div>

      <div fxFlex="50">
        <div><img width="100%" src="../../assets/images/main-banner.png">
        </div>
      </div>
    </div>
  </section>

  <section class="mt-1 mb-1" id="features">
    <div class="container" fxLayout="column">
      <div fxFlex="100">
        <h2 class="text-cs text-center">Machine Learned Auto Lead Assignment</h2>
        <div class="text-center">
          <p class="font-italic"> Are you confused about which member in your workforce can do justice to the leads
            delivered into your LMS?</p>
          <p> Our LMS lets you ease up on this chaotic task. The embedded ML algorithms <br>enable the system
            to automatically assigns the sales lead to the befitting person based on the custom rules</p>
          <p class="font-italic">Outcome— Better conversion rates & boosted ROI</p>
        </div>
      </div>
      <div fxFlex="100">
        <div class="text-center"><img src="../../assets/images/auto-lead-assignment.png" width="60%">
        </div>
      </div>
    </div>
  </section>
  <section class="mt-2 mb-2 pt-2 pb-4 light-bg-cs">
    <h2 class="text-cs text-center">AutomateLeads</h2>
    <p class="text-center">Manages your leads using machined learned models and automates follow-up</p>
    <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="50">
        <h1>Automated Lead Nurturing</h1>
        <div>
          <p align="justify">We ensure that your investment in the lead generation process doesn’t dissipate as the
            leads pass through the sales funnel. Our vertical LMS is supported by automated lead nurturing
            function. It allows you to effortlessly manage the communications and develop relations with buyers at every
            stage of the sales funnel.</p>
          <p align="justify">Analytica is the be-all and end-all for customer acquisition and an easy-to-use LMS
            that allows you to track every granular activity –from lead generation till closure. With prompt follow-ups
            and personalized emails, create 90 % more engagement than conventional methods.</p>
        </div>
      </div>

      <div fxFlex="50">
        <div class="text-center"><img src="../../assets/images/nurturing.png" width="50%">
        </div>
      </div>
    </div>
    <div class="container mt-4" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="50" fxFlexOrder.lt-md="2">
        <div class="text-center"><img src="../../assets/images/funnel.png" width="50%">
        </div>
      </div>

      <div fxFlex="50" fxFlexOrder.lt-md="1">
        <h1>Funnels</h1>
        <div>
          <p align="justify">Buyers can be fickle-minded at times. The initially appearing hot leads can procrastinate
            their buying decisions on an abrupt note. Our next-generation LMS helps you to maintain lead segmentation
            and zero in on buyers at hand through the customer-focused funnel. This empowers you to form an immediate
            and long-term engagement with the valued clientele. You can track and follow up on the passive cases later
            as well.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-2 mb-2 pt-2">
    <h2 class="text-cs text-center">Indicators of Engagement</h2>
    <p class="text-center">Eliminate the chance to lose out on any potential client. Keep the customers engaged using
      the suggested indicators of our LMS.</p>
    <p class="text-center">Utilize the diverse communication options available to keep the customer engrossed.</p>
    <div></div>
    <div class="container mt-2" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="100">
        <div class="text-center"><img src="../../assets/images/indicators.png" width="50%">
        </div>
      </div>
    </div>
    <div class="container mt-4" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div class="intro-list" fxFlex="50" fxLayout="column">
        <h1>Task</h1>
        <div fxFlex="100">
          <mat-icon color="black">check</mat-icon><span fxFlex="10px"></span> Connect with your customers with pre-set
          tasks and execute them on time for continual engagement
        </div>
        <div fxFlex="100">
          <mat-icon color="black">check</mat-icon><span fxFlex="10px"></span> Proactively convey compelling information
          to your clients via Email, Text & SMS.
        </div>
        <div fxFlex="100">
          <mat-icon color="black">check</mat-icon><span fxFlex="10px"></span> Manage leads on fingertips by
          synchronizing the tasks on analytica with Google Calendar on your
          phone and get reminders even when far-flung.
        </div>
        <div fxFlex="100">
          <mat-icon color="black">check</mat-icon><span fxFlex="10px"></span> With our Mobile Application,
          on-field representatives get an insight into a Lead in real-time,
          empowers the person to take prompt action.
        </div>
        <div fxFlex="100">
          <mat-icon color="black">check</mat-icon><span fxFlex="10px"></span> Rely on the flexibility of analytica
          to exercise tasks for a single Lead as well as for all the
          Leads concurrently.
        </div>
      </div>

      <div fxFlex="50">
        <div class="text-center"><img src="../../assets/images/task.png" width="90%">
        </div>
      </div>
    </div>
    <div class="container mt-4" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="50" fxFlexOrder.lt-md="2">
        <div class="text-center"><img src="../../assets/images/lead-status.png" width="60%">
        </div>
      </div>

      <div class="intro-list" fxFlex="50" fxLayout="column" fxFlexOrder.lt-md="1">
        <h1>Status</h1>
        <div fxFlex="100">
          <mat-icon color="black">check</mat-icon><span fxFlex="10px"></span> Keep the scanner on each on-going
          activity.
        </div>
        <div fxFlex="100">
          <mat-icon color="black">check</mat-icon><span fxFlex="10px"></span> Auto-check on every pre-set task and
          entailed output.
        </div>
        <div fxFlex="100">
          <mat-icon color="black">check</mat-icon><span fxFlex="10px"></span> Track every development in the client
          engagement process.
        </div>
        <div fxFlex="100">
          <mat-icon color="black">check</mat-icon><span fxFlex="10px"></span> Emphasize on the interested clients and
          take the communication a yard further.
        </div>
        <div fxFlex="100">
          <mat-icon color="black">check</mat-icon><span fxFlex="10px"></span> Identify the dormant leads in the status
          list and devise new strategies.
        </div>
      </div>
    </div>
    <div class="container mt-4" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="50">
        <h1>Stay Organized</h1>
        <div>
          <p>Prioritize, arrange and schedule the activities of projects by auto-synchronizing them with Google
            Calendar.</p>
          <p>Cut down the redundant efforts—run customized search with the available filters and procure pool of
            pertinent lead information, at one go.</p>
        </div>
      </div>

      <div fxFlex="50">
        <div class="text-center"><img src="../../assets/images/stay-organised.png" width="70%">
        </div>
      </div>
    </div>
    <div class="container mt-4" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="50" fxFlexOrder.lt-md="2">
        <div class="text-center"><img src="../../assets/images/universal-data-mapping.png" width="70%">
        </div>
      </div>

      <div fxFlex="50" fxFlexOrder.lt-md="1">
        <h1>Smart Import/Export Utility</h1>
        <div>
          <p>Don't let the format of a file be the hindrance in the workflow. Our LMS comes with an integrated
            support of Universal Mapping feature that allows you to import/export any file with 100% accuracy in a
            hassle-free way.</p>
        </div>
      </div>
    </div>
    <div class="container mt-4" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="50">
        <h1>Dashboard & Reporting</h1>
        <div>
          <p>Get a comprehensive and intelligible Dashboard for quick analysis of lead funnel. Keep a scrupulous check
            on the actions of your workforce over leads.</p>
          <p>Comprehensible performance indicators like charts and graphs that help to determine the best-performing
            lead closure specialists/sales person in your workforce.</p>
        </div>
      </div>

      <div fxFlex="50">
        <div class="text-center"><img src="../../assets/images/reporting.png" width="70%">
        </div>
      </div>
    </div>
  </section>

  <section id="contact-section" class="home-section light-bg-cs">
    <div class="container  mt-2">
      <div class="section-header">
        <h2>Send Us an Email</h2>
        <p>Our team is always ready to serve you, Please send us your query</p>
      </div>
      <form [formGroup]="contactForm">
        <div fxLayout="column" fxLayout.lt-md="column">
          <div fxFlex="100">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="name" [formControl]="contactForm.controls['name']" placeholder="Your Name">
              </mat-form-field>
              <small *ngIf="contactForm.controls.name.touched && contactForm.controls.name.errors?.required"
                class="form-error-msg">Name is required</small>
            </div>
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="email" [formControl]="contactForm.controls['email']" placeholder="Your Email">
              </mat-form-field>
              <!-- <small *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email"
                            class="form-error-msg">Invalid Email</small> -->
              <small *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.required">Email
                is required</small>
              <small *ngIf="contactForm.controls.email.errors?.email" class="form-error-msg">Invalid
                Email</small>
            </div>
          </div>
          <div fxFlex="100">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput type="number" name="phone" [formControl]="contactForm.controls['phone']"
                  placeholder="Phone No.">
              </mat-form-field>
              <small *ngIf="contactForm.controls.phone.touched && contactForm.controls.phone.errors?.required"
                class="form-error-msg">Phone No. is required</small>
              <small *ngIf="contactForm.controls.phone.errors?.pattern" class="form-error-msg">Invalid Phone
                No.</small>
            </div>
            <div class="pb-1">
              <mat-form-field class="full-width">
                <textarea matInput row="8" name="message" [formControl]="contactForm.controls['message']"
                  placeholder="Message"></textarea>
              </mat-form-field>
              <small *ngIf="contactForm.controls.message.touched && contactForm.controls.message.errors?.required"
                class="form-error-msg">Message is required</small>
            </div>
          </div>
          <div fxLayout="100" fxLayout.lt-sm="column">
            <button mat-raised-button mat-lg-button [disabled]="!contactForm.valid" class="demo-btn"> Send <mat-icon>
                send
              </mat-icon> </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<app-footer></app-footer>


<!-- Slide Show -->
<!-- <section>
  <div class="login-block">
    <button [routerLink]="['/auth/login']">Redirect to login</button>
  </div>
</section> -->