<div class="modal-content">
	<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
		<h3>FILTER BY</h3>
		<span>
			<mat-icon (click)="close()">clear</mat-icon>
		</span>
	</div>
	<mat-dialog-content class="main-content" class="mat-dialog-container-div">
		<div class="form-group" fxLayout="column" fxLayoutAlign="space-between start">
			<label style="font-weight: 500">Created At</label>
			<my-date-range-picker [options]="myDateRangePickerOptions" [(ngModel)]="createdAt" class="date-input transfer-lead" placeholder="Created At"
				required>
			</my-date-range-picker>
		</div>
		<div class="form-group" fxLayout="column" fxLayoutAlign="space-between start">
			<label style="font-weight: 500">Modified At</label>
			<my-date-range-picker [options]="myDateRangePickerOptions" [(ngModel)]="updatedAt" class="date-input transfer-lead" placeholder="Modified At"
				required>
			</my-date-range-picker>
		</div>
	</mat-dialog-content>
</div>
<div mat-dialog-actions class="modal-action" fxLayoutAlign="end start">
	<button mat-button class="btn btn-light" (click)="clear()">Clear All</button>
	<button mat-button class="btn btn-primary" (click)="filterLead()">Apply</button>
</div>