.login-page {
    height: 100vh;
    background: url(/assets/images/bg-img-psf.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    
}
.login-page::before{
    background-color: rgba(0, 0, 0, 0.44);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

.login-card {
    width: 400px;
}

.login-page .loginlink a {
    text-decoration: none;
    color: #00C08D;
} 

.page-title h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 3px 10px;
    border: 1px solid #ddd;
    background: #fff;
}

.input-group mat-icon {
    font-size: 20px;
    color: #00C08D;
}

.login-card label {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    font-size: 13px;
    padding-left: 0px;
}

input[type="email"] {
    font-size: 15px;
    color: #333;
    text-align: left;
    letter-spacing: 1px;
    padding: 14px 10px;
    width: 93%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    // font-family: 'Raleway', sans-serif;
}

input[type="Password"] {
    font-size: 15px;
    color: #333;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 14px 10px;
    width: 93%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    // font-family: 'Raleway', sans-serif;
}

.login-btn {
    display: flex;
    background: #00C08D;
    color: #fff;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0px 40px;
    margin: 0 auto;
}

.mb-2 {
    margin-bottom: 2rem;

}

.login-btn:disabled {
    background: #74CDB7 !important;
    cursor: not-allowed !important;
}

.policy {
    margin-right: 30px;
}